<!DOCTYPE html>
<html>

<head>
  <title>Redux intro</title>
  <link rel="stylesheet" type="text/css" href="static/styles/body.css">
  <link rel="stylesheet" type="text/css" href="static/styles/header-navbar.css">
  <link rel="stylesheet" type="text/css" href="static/styles/application.css">

  <link rel="stylesheet" type="text/css" href="static/styles/calendar.css">
  <link rel="stylesheet" type="text/css" href="static/styles/syllabus">
  <link rel="stylesheet" type="text/css" href="static/styles/merch.css">
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="static/styles/cv.css">
  <link href="https://fonts.googleapis.com/css?family=Bangers|Montserrat" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyesbQMyKVVbBgKVi2g6VX7mop2z96jBo"></script>
</head>


<body>
  <div id="root">

  </div>
  <script src="static/bundle.js"></script>
</body>

</html>