<!DOCTYPE html>
<html>

<head>
  <title>Redux intro</title>
  <link rel="stylesheet" type="text/css" href="static/styles/body.css">
  <link rel="stylesheet" type="text/css" href="static/styles/header-navbar.css">
  <link rel="stylesheet" type="text/css" href="static/styles/application.css">

  <link rel="stylesheet" type="text/css" href="static/styles/calendar.css">
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
</head>

<body>
  <div id="root">

  </div>
  <script src="static/bundle.js"></script>
</body>

</html>