.applications {
  display: flex;
  flex-direction: column;

  color: gray;

  background: url("../images/background-application.png") no-repeat;
  background-size: cover;

  padding: 20px;
}

.applications__brief-container {
  float: left;
  width: 300px;

  color: gray;
  font-family: Montserrat, sans-serif;
}

.why-us {
  text-align: right;

  background: url("../images/background-application2.png") no-repeat;
  background-size: cover;

  color: gray;

  padding: 20px;
}

.why-us__title {
  text-align: left;
  size: 4rem;
  font-weight: bold;
  font-family: Press Start 2p, cursive;
}

.why-us__description {
  width: 500px;
  text-align: right;

  font-family: Montserrat, sans-serif;
}

.teaching-style {
  text-align: left;

  background: url("../images/background-application.png") no-repeat;
  background-size: cover;

  color: gray;

  padding: 20px;
}

.teaching-style__description {
  width: 450px;
  font-family: Montserrat, sans-serif;
}

.application__form {
  display: flex;
  flex-direction: column;

  align-items: center;

  background: url("../images/background-application2.png") no-repeat;
  background-size: cover;

  width: 100%;

  padding: 10px;

  color: gray;
}

input {
  width: 500px;

  padding: 10px;
}

textarea {
  width: 500px;
  height: 350px;
}
