.header {
  display: flex;

  margin: 0;
  padding: 45px;

  width: 100%;

  justify-content: space-around;

  background-color: #ffee00;
  color: #38625c;

  border-bottom-style: solid;
  border-bottom-color: #38625c;
}

.dmitri {
  display: block;
  float: left;

  width: 10%;
  height: 10%;
}

.beards {
  display: flex;

  width: 13em;
  height: auto;
}

.beards__brown {
  margin: 0;

  width: 8em;
  height: 7em;
}

.beards__ginger {
  margin: 0;

  width: 8em;
  height: 7em;
}

.beards__black {
  margin: 0;

  width: 8em;
  height: 7em;
}

.beards__dark {
  margin-top: -60px;
  margin-bottom: 5px;

  width: 8em;
  height: 7em;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: column;

  width: 250px;

  background-color: #ffee00;

  border-right-color: #38625c;
  border-right-style: solid;
}

.navbar__links {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.homepage__video {
  right: 0;
  bottom: 0;
  width: 100%;
}

.homepage__routes {
  position: fixed;

  bottom: 0;
  width: auto;

  padding: 20px;

  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;

  text-align: center;

  font-family: "Press Start 2P", cursive;
}

.homepage__buttons {
  border-radius: 50%;
  border-color: #ffee00;
  border-width: 5px;
  border-style: ridge;

  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #38625c;

  height: 5em;
  width: 5em;
}

.topic-list--title {
  font-family: "Press Start 2P", cursive;
}

.topic-list--list-item {
  font-family: Montserrat, sans-serif;
}
