.header {
  display: flex;

  margin: 0;
  padding: 45px;

  width: 100%;

  justify-content: space-around;

  background-color: #ffee00;
  color: #38625c;

  border-bottom-style: solid;
  border-bottom-color: #38625c;
}

.dmitri {
  display: block;
  float: left;

  width: 10%;
  height: 10%;
}

.dmitri__animated {
  display: block;
  float: left;

  width: 10%;
  height: 10%;
}

.beards {
  display: flex;
  flex-direction: column;

  width: 10%;
  height: auto;
}

.beards__brown {
  margin: 0;
  position: absolute;

  width: 10%;
  height: auto;
}

.beards__ginger {
  margin: 0;
  position: relative;

  width: 10%;
  height: auto;
}

.beards__white {
  margin: 0;
  position: absolute;

  width: 10%;
  height: auto;
}

.russian-hat {
  display: none;
}

.logo {
  width: 40%;
  height: 40%;

  padding: 10px;

  animation-name: logo-spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-container {
  display: flex;
  flex-direction: column;

  align-items: center;

  color: red;

  animation: color-blink 0.3s steps(2, start) infinite;
}

@keyframes color-blink {
  to {
    color: #38625c;
  }
}

.navbar {
  display: flex;
  flex-direction: column;

  width: 30%;

  background-color: #ffee00;

  border-right-color: #38625c;
  border-right-style: solid;
}

.navbar__links {
  display: flex;
  flex-direction: column;

  font-size: 10px;
  justify-content: space-around;

  font-family: Montserrat, sans-serif;
}

.navbar__links-text {
  font-size: 7px;
}

.homepage__video {
  right: 0;
  bottom: 0;
  width: 100%;
}

.homepage__quotes {
  margin: auto;
  text-align: center;
  width: 500px;
  padding: 50px;
}

.quote {
  padding: 8px;
}

.homepage__routes {
  position: fixed;

  top: 38%;
  width: auto;

  padding: 20px;

  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;

  text-align: center;

  font-family: "Press Start 2P", cursive;
}

.homepage__buttons {
  border-radius: 50%;
  border-color: #ffee00;
  border-width: 5px;
  border-style: ridge;

  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #38625c;

  height: 5em;
  width: 5em;
}

.topic-list--title {
  font-family: "Press Start 2P", cursive;
}

.topic-list--list-item {
  font-family: Montserrat, sans-serif;
}

.homepage__quotes {
  background: black;
  color: #f1f1f1;
}

@media (min-width: 768px) {
  .header {
    display: flex;

    margin: 0;
    padding: 45px;

    width: 100%;

    justify-content: space-around;

    background-color: #ffee00;
    color: #38625c;

    border-bottom-style: solid;
    border-bottom-color: #38625c;
  }

  .dmitri {
    display: block;
    float: left;

    width: 10%;
    height: 10%;
  }

  .dmitri__animated {
    display: block;
    float: left;

    width: 10%;
    height: 10%;
  }

  .beards {
    display: flex;
    flex-direction: column;

    width: 13em;
    height: auto;
  }

  .beards__brown {
    margin: 0;
    position: absolute;

    width: 8em;
    height: 7em;
  }

  .beards__ginger {
    margin: 0;
    position: relative;

    width: 8em;
    height: 7em;
  }

  .beards__white {
    margin: 0;
    position: absolute;

    width: 8em;
    height: 7em;
  }

  .russian-hat {
    display: block;
    margin-top: -60px;
    margin-bottom: 5px;

    width: 13em;
    height: 15em;
  }

  .logo {
    width: 10em;
    height: 10em;

    animation-name: logo-spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .title-container {
    display: flex;
    flex-direction: column;

    align-items: center;

    color: red;

    animation: color-blink 0.3s steps(2, start) infinite;
  }

  @keyframes color-blink {
    to {
      color: #38625c;
    }
  }

  .navbar {
    display: flex;
    flex-direction: column;

    width: 250px;

    background-color: #ffee00;

    border-right-color: #38625c;
    border-right-style: solid;
  }

  .navbar__links {
    display: flex;
    flex-direction: column;

    justify-content: space-around;

    font-family: Press Start 2p, cursive;
  }

  .homepage__video {
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .homepage__quotes {
    text-align: center;
  }

  .quote {
    padding: 8px;
  }

  .homepage__routes {
    position: fixed;

    top: 38%;
    width: auto;

    padding: 20px;

    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;

    text-align: center;

    font-family: "Press Start 2P", cursive;
  }

  .homepage__buttons {
    border-radius: 50%;
    border-color: #ffee00;
    border-width: 5px;
    border-style: ridge;

    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: #38625c;

    height: 5em;
    width: 5em;
  }

  .topic-list--title {
    font-family: "Press Start 2P", cursive;
  }

  .topic-list--list-item {
    font-family: Montserrat, sans-serif;
  }

  .homepage__quotes {
    background: black;
    color: #f1f1f1;
  }
}
